In [2]:
import pandas as pd
import numpy as np
import datetime
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn import tree
import joblib

In [91]:
model = joblib.load('covid-classifier.joblib') # utilizar modelo guardado
predictions = model.predict([[2, 40, 2, 1, 2, 2, 2, 2]]) # fazer previsao com dados escolhidos
predictions # mostrar previsao (1 - DIED, 2 - NOT DIED)

C:\Users\duart\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:409: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([1], dtype=int64)

In [84]:
df = pd.read_csv('covid_data.csv')
df

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,DATE_DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,...,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU
0,2,1,1,1,03/05/2020,97,1,65,2,2,...,2,2,1,2,2,2,2,2,3,97
1,2,1,2,1,03/06/2020,97,1,72,97,2,...,2,2,1,2,2,1,1,2,5,97
2,2,1,2,2,09/06/2020,1,2,55,97,1,...,2,2,2,2,2,2,2,2,3,2
3,2,1,1,1,12/06/2020,97,2,53,2,2,...,2,2,2,2,2,2,2,2,7,97
4,2,1,2,1,21/06/2020,97,2,68,97,1,...,2,2,1,2,2,2,2,2,3,97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,2,13,2,1,9999-99-99,97,2,40,97,2,...,2,2,2,2,2,2,2,2,7,97
1048571,1,13,2,2,9999-99-99,2,2,51,97,2,...,2,2,1,2,2,2,2,2,7,2
1048572,2,13,2,1,9999-99-99,97,2,55,97,2,...,2,2,2,2,2,2,2,2,7,97
1048573,2,13,2,1,9999-99-99,97,2,28,97,2,...,2,2,2,2,2,2,2,2,7,97
1048574,2,13,2,1,9999-99-99,97,2,52,97,2,...,2,2,2,2,2,2,2,2,7,97

In [47]:
df['DIED'] = 1
        
df['DIED'][df['DATE_DIED'] == "9999-99-99"] = 2

# REMOVER VALORES NULL
df.assign(TOBACCO=np.where(df.TOBACCO == 97, None, df.TOBACCO))
df.assign(TOBACCO=np.where(df.TOBACCO == 99, None, df.TOBACCO))
df.assign(PNEUMONIA=np.where(df.PNEUMONIA == 97, None, df.PNEUMONIA))
df.assign(PNEUMONIA=np.where(df.PNEUMONIA == 99, None, df.PNEUMONIA))
df.assign(INTUBED=np.where(df.INTUBED == 97, None, df.INTUBED))
df.assign(INTUBED=np.where(df.INTUBED == 99, None, df.INTUBED))
df.assign(DIABETES=np.where(df.DIABETES == 97, None, df.DIABETES))
df.assign(DIABETES=np.where(df.DIABETES == 99, None, df.DIABETES))
df.assign(COPD=np.where(df.COPD == 97, None, df.COPD))
df.assign(COPD=np.where(df.COPD == 99, None, df.COPD))
df.assign(HIPERTENSION=np.where(df.HIPERTENSION == 97, None, df.HIPERTENSION))
df.assign(HIPERTENSION=np.where(df.HIPERTENSION == 99, None, df.HIPERTENSION))
df.assign(OBESITY=np.where(df.OBESITY == 97, None, df.OBESITY))
df.assign(OBESITY=np.where(df.OBESITY == 99, None, df.OBESITY))



df = df[['TOBACCO', 'AGE', 'PNEUMONIA', 'INTUBED', 'DIABETES', 'COPD', 'HIPERTENSION', 'OBESITY', 'DIED']]
df_X = df.drop(columns='DIED')
df_Y = df['DIED']

C:\Users\duart\AppData\Local\Temp\ipykernel_9016\966730408.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['DIED'][df['DATE_DIED'] == "9999-99-99"] = 2

In [66]:
X_train, X_test, Y_train, Y_test = train_test_split(df_X, df_Y, test_size=0.2, random_state=42, shuffle=True)
#train
#test

In [81]:
model = DecisionTreeClassifier()
model.fit(X_train, Y_train)

tree.export_graphviz(model, out_file='covid-classifier.dot',
                    feature_names=['TOBACCO', 'AGE', 'PNEUMONIA', 'INTUBED', 'DIABETES', 'COPD', 'HIPERTENSION', 'OBESITY'],
                    class_names=None,
                    label='all',
                    rounded=True,
                    filled=True)

# exportar para tree, para visualizar depois

joblib.dump(model, 'covid-classifier.joblib') # guardar o  model


predictions = model.predict(X_test)

score = accuracy_score(Y_test, predictions)
score

0.94443888133896

In [82]:
pd.DataFrame(predictions, columns=['DIED'])

        DIED
0          2
1          2
2          2
3          2
4          2
...      ...
209710     2
209711     2
209712     2
209713     2
209714     2

[209715 rows x 1 columns]